[Unit]
Description=FinalApproach
Wants=readsb.target
After=readsb.target

[Service]
User=finalapproach
Group=finalapproach
WorkingDirectory=/home/finalapproach/finalapproach
ExecStart=/home/finalapproach/finalapproach/venv/bin/python finalapproach.py --watchdog "/dev/watchdog0" stream --host "127.0.0.1" --port 30006
Restart=always
Environment="PATH=/home/finalapproach/finalapproach/"

[Install]
WantedBy=default.target
