[Unit]
Description=FinalApproach
Wants=readsb.target
After=readsb.target

[Service]
User=finalapproach
Group=finalapproach
WorkingDirectory=/home/finalapproach/finalapproach
ExecStart=/home/finalapproach/finalapproach/venv/bin/python finalapproach.py "http://127.0.0.1:8504/tar1090/data/aircraft.json" "/dev/watchdog0"
Restart=always
Environment="PATH=/home/finalapproach/finalapproach/"

[Install]
WantedBy=default.target
